
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}



/*shared styles*/
.primary-color {
  color: #4E47FF;
}
.btn-primary {
  font-family: Raleway, sans-serif;
  background-color: #4E47FF;
  font-weight: bold;
  font-size: 16px;
  color: white;
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
  height: 48px;
}
.btn-primary:hover {
    color: black;
    background-color: #4fa70c;
}



header, main {
  background-color: rgba(78, 71, 255, 0.04);
}



/*header styles*/
.header {
    background-image: url(../Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/*nav bar style*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    background-size: cover;
    margin-bottom: 158px;
}
.logo-top {
    font-size: 34px;
    font-weight: 900;
}



/*banner styles*/
.banner {
    text-align: center;
    padding-bottom: 152px;
}
.banner-title {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
    margin-bottom: 37px;
}



/*action section styles*/
.action-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 160px;
}
.action-title {
  font-weight: 700;
  font-size: 42px;
  color: #252432;
  margin-bottom: 23px;
}
.action-subtitle {
  font-weight: 400;
  font-size: 24px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}
.action-image {
  border-radius: 48px;
}



/*productive user section styles*/
.productive-user-section {
  background-color: rgba(78, 71, 255, 0.1);
  margin: 116px 160px;
  text-align: center;
  padding: 50px 142px;
  border-radius: 24px;
}
.productive-user-section-title {
  font-weight: 700;
  font-size: 38px;
  color: #252432;
  margin-bottom: 40px;
}
.productive-user-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.productive-user-data-title {
  font-weight: 700;
  font-size: 80px;
}
.productive-user-data-subtitle {
  font-weight: 400;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}



/*user feedback section styles*/
.user-feedback-section {
  margin: 116px 160px;
  text-align: center;
}
.user-feedback-section-title {
  font-weight: 700;
  font-size: 42px;
  color: #252432;
}
.user-feedback-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.user-feedback {
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  padding: 24px;
  text-align: left;
  width: 100%;
}
.user-rating {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 116px;
  height: 20px;
}
.rating-image {
  width: 20px;
  height: 20px;
}
.user-feedback-title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #252432;
  margin-top: 24px;
}
.user-feedback-description {
  font-weight: 400;
  font-size: 16px;
  color: rgba(30, 30, 30, 1);
  margin-top: 8px;
  margin-bottom: 24px;
}
.about-user {
  display: flex;
  align-items: center;
  gap: 12px;
}
.user-image {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.user-name {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 5px;
}
.feedback-date {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(117, 117, 117, 0.5);
}



/*contact section styles*/
.contact-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px 160px;
  gap: 115px;
  padding: 71px 0;
}
.contact-section-title {
  flex: 1;
  max-width: 50%;
  font-weight: 700;
  font-size: 97px;
  color: black;
}
.contact-form {
  flex: 1;
}
main label {
  font-weight: 500;
  font-size: 18px;
  color: black;
}
main input[type="text"], main input[type="email"], main textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 64px;
  font-size: 20px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  padding: 18px 30px;
  margin-top: 10px;
  margin-bottom: 19px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
main textarea {
  height: 135px;
  resize: none;
}
main input[type="submit"] {
  width: 100%;
  height: 64px;
  font-size: 16px;
}



/*footer styles*/
footer {
  width: 531px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}
.footer-title {
  font-size: 100px;
  font-weight: 900;
  margin-bottom: 8px;
}
.footer-description {
  font-size: 16px;
  color: #8987A1;
  margin-bottom: 20px;
}
.footer-link {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 16px;
}
a {
  text-decoration: none;
  color: #8987A1;
}